/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, div, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, div {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	min-height: 100%;
}

img {
	display: block;
}

/*
	==================================
	Grid
	==================================
*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
	==================================
	Clearfix
	==================================
*/
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	clear:both;
	*zoom: 1;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #F4F3F5;
	background: -webkit-linear-gradient(to top, #F4F3F5 93%, #fff);
	background: -moz-linear-gradient(to top, #F4F3F5 93%, #fff);
	background: linear-gradient(to top, #F4F3F5 93%, #fff);
}

a {
	text-decoration: none;
	color: #424AB2;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #F2A135;
}

strong {
	font-weight: 600;
}

h1 {
	font-family: 'Noto Serif', serif;
	width: 100%;
	font-size: 29px;
	line-height: 43px;
	border-bottom:1px solid #ABABAB;
	margin: 28px 0 10px 0;
}

h1:first-child {
	margin: -5px 0 10px 0;
}

h2 {
	font-family: 'Noto Serif', serif;
	width: 100%;
	font-size: 20px;
	line-height: 28px;
	border-bottom:1px solid #ABABAB;
	margin: 28px 0 10px 0;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}
/*
  ========================================
  Main layout
  ========================================
*/

.container {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.sidebar {
	display: table-cell;
	width: 190px;
}

.content {
	display: table-cell;
	vertical-align: top;	
	font-size: 14px;
}
/*
  ========================================
  User navbar
  ========================================
*/

.user-nav {
	text-align: right;
	font-size: 13px;
	color: #939499;
	padding: 10px 20px 0 0;
	vertical-align: top;
}

.user-nav li {
	display:inline-block;
	padding-left: 10px;
}

/*
  ========================================
  Sidebar
  ========================================
*/

.sidebar-item {
	font-size: 13px;
	line-height: 21px;
	border-bottom: 1px solid #C1C0C2;
	margin: 0 20px;
	padding:5px;
	color: #5B5B5C;
}

.sidebar-item:first-child,
.sidebar-item:last-child {
	border:0;
}

.sidebar-item a {
	padding-left: 20px;
}

.wiki-logo {	
	display: block;
	background: url("../images/wikipedia-logo-en-resize.png");
	height: 170px;
	margin-bottom: 17px;
}

.nav-main a {
	padding:5px;
}



/*
  ========================================
  Content tabs
  ========================================
*/
.tabs {
	padding-right: 25px;
	display: table;
	table-layout: fixed;
	width: 100%;
	font-size: 13px;
	border-bottom: 1px solid #ABD6F7;
}

.tabset-l,
.tabset-r {
	height: 50px;
	vertical-align: bottom;
}

.tabset-l span,
.tabset-r span {
	padding: 20px 8px 5px 8px;
	line-height: 25px;
	border-top: 1px solid #ABD6F7;
	border-left: 1px solid #ABD6F7;
	background:#E8F0FF;
	background: -webkit-linear-gradient(to top, #E8F0FF 15%, #fff);
	background: -moz-linear-gradient(to top, #E8F0FF 15%, #fff);
	background: linear-gradient(to top, #E8F0FF 15%, #fff);
}

.tabset-l span:last-child,
.tabset-r span:last-child {
	border-right: 1px solid #ABD6F7;
}

.tabset-r {
	text-align: right;
}

.tabset-l a:active,
.tabset-r a:active {
	color: #424AB2;
}
span.selected {
	padding-bottom: 6px;
	background: #fff;
	border-bottom: 0;
}

.selected a {
	color: #000;
	text-decoration: none;
}

.selected a:active {
	color: #000;
}

.searchbar {
	vertical-align: bottom;
	padding:5px 0 5px 5px;
	width: 20%;
}

.searchbar input {
	width: 100%;
}

/*
  ========================================
  Main Content
  ========================================
*/
.main-page {
	/*border-top: 1px solid #78D7F7;*/
	background: #fff;
	width: 100%;	
	border-left: 1px solid #ABD6F7;
	border-bottom: 1px solid #ABD6F7;
	padding:25px;
	line-height: 19px;
}

.table {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding-bottom: 5px;
	/*border: 1px solid;*/
}

.mp-content-box {
	padding:6px 6px;
	line-height: 22px;
}

.table-cell {
	display: table-cell;
}

.gap {
	width:5px;
}

.mp-content-title:first-child {
	margin-top: 0;
}	

.mp-content-title {
	padding: 3px 6px;
	margin: 8px 0 18px 0;
}

/*
  ========================================
  main page - other
  ========================================
*/
.main-page-other li {
	list-style-type:disc;
	color:#424AB2;
	margin: 5px 0 0 28px;
}

.main-page-other span {
	color: #000;
}

/*
  ========================================
  main page - projects
  ========================================
*/
.main-page-projects .table,
.main-page-projects .table-cell {
	/*border: 1px solid;*/
	vertical-align: middle;
}

.main-page-projects .image {
	width: 55px;
	text-align: center;
}

.main-page-projects p {
	padding-bottom: 10px;
}
/*
  ========================================
  main page - languages
  ========================================
*/

.main-page-languages p {
	padding-bottom: 10px;
}


.upper-list {
	list-style-type:disc;
	color:#424AB2;
}

.upper-list span {
	color: #000;
}

.upper-list > li {
	margin: 5px 0 0 28px;
}


.inline-list {
	display: inline-block;
}
.inline-list li {
	display: inline-block;
}
.inline-list li:after {
	content:' · ';
	font-weight: bold;
}

.inline-list li:last-child:after {
	content:'';
}

/*
  ========================================
  featured article
  ========================================
*/
.content-box-left {
	background: #f5fffa;
	border:1px solid #cef2e0;
	width: 55%;
}

.content-box-left .helper-links {
	text-align: right;
	width: 100%;
}
.mp-left-title {
	border:1px solid #a3bfb1;
	background: #cef2e0;
}

.content-box-left span {
	color: #000;
}

.image-prev {
	float: left;
	margin: 0 10px 15px 0;
}

/*
  ========================================
  news
  ========================================
*/
.content-box-right {
	background: #f5faff;
	border:1px solid #cedff2;
}

.mp-right-title {
	border:1px solid #a3b0bf;
	background: #cedff2;
}

/*
  ========================================
  featured list
  ========================================
*/
.content-box-top {
	width: 100%;
	background: #fff5fa;
	border:1px solid #f2cedd;
}

.mp-top-title {
	border:1px solid #bfa3af;
	background: #f2cedd;
}
/*
  ========================================
  featured picture
  ========================================
*/
.content-box-bottom {
	width: 100%;
	background: #faf5ff;
	border:1px solid #ddcef2;
}

.mp-bottom-title {
	border:1px solid #afa3bf;
	background: #ddcef2;
}

/*
  ========================================
  Welcome box
  ========================================
*/
.content-box-title {
	background:#F9F8FA;
	border: 1px solid #C3C3C4;
	padding:3px 0;
	margin-bottom: 5px;
}

.welcome-title,
.welcome-title:first-child {
	font-family: inherit;
	font-size:25px;
	border: inherit;
	margin: 0;
}

.title,
.portals {
	/*border: 1px solid;*/
	vertical-align: middle;
}
.title {
	width:320px;
	text-align: center;
}

.subtitle {
	font-size: 12px;
}

.portals {
	text-align: right;
}

.portals ul {
	display: inline-block;
	list-style-type:disc;
	color:#424AB2;
	padding-right:10%;
	font-size: 13px;
}

.portals li {
	text-align: left;
}

/*
  ========================================
  policy
  ========================================
*/

.policy {
	padding: 20px 20px;
	font-size: 11px;
}

.footer-links {
	
}

.footer-links li {
	display: inline-block;
	padding: 15px 10px 0 0;
}

.footer-icons {
	text-align: right;
}

.footer-icons li {
		display: inline-block;
		padding-left:5px;
}